body 
{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  padding: 0;
  box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
a
{
  text-decoration: none;
  color: black;
}
a:hover
{
  color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span
{
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus
{
  outline: 0px;
}
.row,
.col-6,
.col-4
{
  margin: 0;
  padding: 0;
}

.Announcement .col-md-6 p
{
  color: white;
  margin-right: 6rem;
  font-size: 15px;
}
.Announcement .col-12 a 
{
  color: white;
  margin-right: 2rem;
}
.header 
{
  padding: 10px 0 10px 0px;
}
.navbar-brand img 
{
  width: 60%;
}
.input-group
{
  height: 50px;
  width: 90%;
}
.search-button
{
  width: 20%;
  background-color: black;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.dropdown-menu a:hover 
{
  background-color: #2bbef9 !important;
  color: #fff !important;
}
.mobile-header
{
  display: none;
}
.section
{
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}
.sidebar_item
{
  margin-bottom: 35px;
}
.sidebar_item h4 
{
  color: #1c1c1c;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}
.sidebar_item ul 
{
  margin: 0;
  padding: 0;
}
.sidebar_item ul li 
{
  list-style: none;
  display: flex;
}
.sidebar_item ul li  a 
{
  font-size: 16px;
  color: #000;
  line-height: 45px;
  display: block;
}

.sidebar_item ul li img 
{
  width: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.border-product
{
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
.shopBack
{
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f3fbf7;
}
.shopBack img
{
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.shoptext
{
  padding-top: 10px;
}
.shoptext p a  
{
  color: #252525;
}
.shoptext h3
{
  color: #252525;
  margin-top: 13px;
  font-weight: bold;
  font-size: 19px;
}
.rating
{
  margin: 5px 0;
}



.round-black-btn
{
  border: none;
  padding: 10px 20px;
  background-color: #2bbef9;
  color: #fff;
  font-weight: 600;
  margin-top: 50px;
}
.single-image img
{
  min-width: 100%;
}
.product-name
{
  font-weight: 900;
  font-size: 30px;
}

